/*---------------------------------------------------
SECTION WRAPS
---------------------------------------------------*/

/* Header Wrap */
@media screen and (max-width: 2000px) {



  #headerwrap {
    background: url(../img/computer1940.gif) no-repeat;
    height: 500px;
    width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;


  }

  #devm {
    height: 500px;

  }



  #titre {
    margin-top: 70px;
    font-size: 80px;
    color: black;
  }

  #description {
    font-size: 20px;
    color: black;
  }
}

@media screen and (max-width: 1280px) {
  #headerwrap {
    background: url(../img/computer1280.gif) no-repeat;

  }
}

@media screen and (max-width: 1080px) {
  #headerwrap {
    background: url(../img/computer1080.gif) no-repeat;

  }

  #titre {
    margin-bottom: 40px;

    font-size: 70px;

  }

  #decription {
    text-align: bottom;
    padding: 30px;
    font-size: 18px;

  }



}

@media screen and (max-width: 940px) {
  #headerwrap {
    background: url(../img/computer940.gif) no-repeat;

  }
}

@media screen and (max-width: 640px) {
  #headerwrap {
    background: url(../img/computer640.gif) no-repeat;

  }
}

@media screen and (max-width: 480px) {
  #headerwrap {
    background: url(../img/computer480.gif) no-repeat;

  }

  #titre {
    margin-bottom: 60px;
    font-size: 50px;
  }

  .pdf {
    padding-top: 40px;
  }
}

@media screen and (max-width: 325px) {
  #headerwrap {
    background: url(../img/computer325.gif) no-repeat;

  }


}