/* Intnro Wrap */

#intro {
    background: #034064;
    display: flex;
    padding-top: 30px;
    font-size: 22px;
    color: white;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

#intro p,
#apropos {
    color: white;
}
#intro_img{
    
    flex-wrap: wrap;    
    height: 300px;   
}
#intro_text{
    flex-wrap: wrap;   
    height: 300px;
    text-align: center;
}



#apropos {
    font-size: 2em;
}

#typedtext {
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 20px;
    letter-spacing: 6px;
    font-weight: bold;
    
}


@media screen and (max-width: 940px) {
    #intro {
        display: block;
        font-size: 22px;
        height: auto;
    
    }
    #intro_img{
        text-align: center;
    
    }
    #intro_text{
        text-align: justify;
    }

    #typedtext {
        font-size: 18px;
    }

    #apropos {
        font-size: 1, 7em;
        padding-bottom: 20px;
        
    }


}

@media screen and (max-width: 640px) {
    #typedtext {
        font-size: 16px;
    }

    #apropos {
        font-size: 1, 5em;
    }
}

@media screen and (max-width: 480px) {
    #typedtext {
        font-size: 10px;
    }

   
}
.img-responsive{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
    object-fit: cover;
    object-position: center right;
}



@media screen and (max-width: 325px) {
    #intro_text{
        align-items: center;
        margin: 0;

    }
    #typedtext {
        
        
        padding-right:0;
        padding-left:0;
        margin-left: 0;
        margin-right:0 ;
    }

   
}
