
html,
body {
  height:100%;
  padding:0;
  margin:0;
  background-image: url('https://media.giphy.com/media/3oEjI7fU1jLnk9O0pO/giphy.gif');
  background-size:cover;
  background-repeat:no-repeat;
  
}




